[submodule "dhtmlx"]
	path = dhtmlx
	url = https://github.com/DHTMLX/dhtmlx-suite-gpl.git
[submodule "spapp"]
	path = spapp
	url = https://github.com/cutec-chris/spapp.git
[submodule "appbase"]
	path = appbase
	url = https://github.com/cutec-chris/promet-appbase.git
[submodule "codebase"]
	path = codebase
	url = https://github.com/cutec-chris/dhtmlx.git
